.section{
    width: auto;
}


.nav{
    display: flex;
    gap: 40px;
    list-style: none;
}

.link{
    font-size: 20px;
    text-decoration: none;
    color: #520b85;
    padding: 10px;
}

.link:global(.active) {
    font-weight: bold;
}